examples/jbeam/*.jbeam.bak
cabal.project.local
cabal.project.local~
cabal.project.*.local
cabal.project.*.freeze
dist-newstyle/
installer/constants.inc
dist/
TAGS
.hpc/
.stack-work/
.ghc.environment.*
.jbeam-edit.yaml
**/*~
**/#*#
**/.#*
