name: Lint & format

on:
  push:
    branches: [master, nonempty-vector]
  pull_request:

jobs:
  lint-and-format:
    if: github.event.pull_request.draft != true
    name: Lint and format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up HLint
        uses: haskell-actions/hlint-setup@v2
        with:
          version: latest
      - name: Run hlint with my hlints
        uses: haskell-actions/hlint-run@v2.4.10
        with:
          fail-on: warning
      - name: Download Relude hlints
        run: |
          curl https://raw.githubusercontent.com/kowainik/relude/refs/heads/main/.hlint.yaml -o .hlint.yaml
      - name: Run hlint with relude hlints
        uses: haskell-actions/hlint-run@v2.4.10
        with:
          path: src-extra
          fail-on: warning
      - name: Run fourmolu
        uses: haskell-actions/run-fourmolu@v11
        with:
          pattern: |
            **/*.hs
            !examples/ast/*/*.hs
          version: latest
      - name: Check bash formatting
        run: |
          sudo apt update > /dev/null 2>&1
          sudo apt install -y shfmt > /dev/null 2>&1
          shfmt -d .github/scripts
        env:
          FORCE_COLOR: true
